fastapi==0.115.6
uvicorn[standard]==0.32.1
motor==3.6.0
pydantic==2.10.6
pydantic[email]==2.10.6
python-dotenv==1.0.1
aiohttp==3.11.10
beautifulsoup4==4.12.3
python-multipart==0.0.20
slowapi==0.1.9
python-jose[cryptography]==3.3.0
bcrypt==4.1.2
pymongo>=4.9,<4.10


